h1, h2{
margin:40px;
text-align: center;
}

.Card-main{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px;
}

.card-img{
    width: 100px;
    height: 100px;
}
.link{
    font-size: 32px;
}